<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="bot" virtualFolder="/_bot" physicalFolder="/_bot"
            enableTracking="false" database="core" domain="sitecore" disableXmlControls="true" loginPage="/_bot/default.aspx"
            patch:before="site[@name='website']" />
    </sites>
    <events>
      <event name="publish:begin">
        <handler type="SugCon.Website.Events.PublishEventHandler, SugCon.Website" method="Started"
                 patch:before="*[1]" />
      </event>
      <event name="publish:end">
        <handler type="SugCon.Website.Events.PublishEventHandler, SugCon.Website" method="Ended" 
                 patch:before="*[1]" />
      </event>

      <event name="indexing:start">
        <handler type="SugCon.Website.Events.IndexingEventHandler, SugCon.Website" method="Started"
                 patch:before="*[1]" />
      </event>
      <event name="indexing:end">
        <handler type="SugCon.Website.Events.IndexingEventHandler, SugCon.Website" method="Ended"
                 patch:before="*[1]" />
      </event>      
    </events>
    <pipelines>
      <initialize>
      </initialize>
    </pipelines>
    <processors>
      <loggedin argsType="Sitecore.Pipelines.LoggedIn.LoggedInArgs">
        <processor mode="on" type="SugCon.Website.Pipelines.LoggedIn.BotTicket, SugCon.Website"
                   patch:before="processor[@type='Sitecore.Pipelines.LoggedIn.Ticket, Sitecore.Kernel']" />
      </loggedin>

      <loggingin argsType="Sitecore.Pipelines.LoggingIn.LoggingInArgs">
        <processor mode="on" type="SugCon.Website.Pipelines.LoggingIn.CheckBotStartUrl, SugCon.Website"
                   patch:instead="processor[@type='Sitecore.Pipelines.LoggingIn.CheckStartUrl, Sitecore.Kernel']" />
      </loggingin>
    </processors>
    <settings>
      <setting name="sitecore.bot.name" value="insert the name of your bot" />
      <setting name="sitecore.bot.host" value="insert your relative url to your bot appService (hostname)" />
      <!-- working with the emulator and local debugging -->
      <!--<setting name="sitecore.bot.callbackhost" value="http://localhost:3979" />-->
      <setting name="sitecore.bot.callbackhost" value="--insert your absolute url to your bot appService" />
      
      <!-- The appId for your bot -->
      <setting name="sitecore.bot.appId" value="mybot" />
      <!-- The appSecret for your bot, this will be used to be able to communicate with the bot -->
      <setting name="sitecore.bot.appSecret" value="my-most-precious-words" />
      <!-- Application Insights Id -->
      <setting name="sitecore.bot.ai.appId" value="insert your application insights appId here" />
      <!-- Application Insights apiKey, you can get this in the Azure portal -->
      <setting name="sitecore.bot.ai.apiKey" value="insert your application insights apiKey here" />
    </settings>
  </sitecore>
</configuration>